body{
    background-color: #e6a4a4;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.container{
    width: 60%;
    margin-top: 10%;
    padding: 0;
}

.bigger-row{
    background-color: white;
    padding: 40px 0;
    border-radius: 20px;
}

h2{
    font-size: 1.2em;
}

.right-side{
    padding: 0 40px;
}

.left-side{
    border-right: 0.1px solid rgba(128, 128, 128, 0.425);
    padding: 0 40px;
}

.signup{
    text-align: right;
    color: rgb(15, 15, 131);
    font-size: 1em;
}

.sign-up-btn{
    width: 100%;
    margin: auto;
    padding: auto;
    text-align: center;
    color: white;
}

button{
    border-radius: 5px;
    border: none;
    height: 50px;
}

.input-txt{
    border: 0.5px solid rgba(0, 0, 0, 0.219);
    padding-left: 12px;
    height: 50px;
    border-radius: 5px;
}

.sign-in-btn{
    width: 100%;
    background-color: black;
    color: white;
}
input{
    width: 100%;
}

.fb-btn{
    background-color: #3B5998;
}

.twt-btn{
    background-color: #55ACEE;
}

.ggl-btn{
    background-color: #dd4b39;
}

.rememberme{
    text-align: left;
}

button:hover{
    opacity: 70%;
}

a{
    color: rgb(19, 19, 133);
}

a:hover{
    opacity: 80%;
}