#color-btn{
    color: white;
    background: rgb(51, 179, 157);
    border: none;
    padding: 10px;
    font-size: 40px;
    margin: auto;
    border-radius: 5px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }